
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading"><%= @photo.user.username %>
        <small>
          <%= time_ago_in_words(@photo.updated_at) %> ago
        </small>
      </div>
      <div class="panel-body">
        <a href="/photos/<%= @photo.id %>"><img src="<%= @photo.image %>" class="img-responsive" alt="<%= @photo.caption %>">
        </a>

        <% if @photo.likes.pluck( :user_id ).include?(current_user.id) %>
        <a href="/delete_like/<%= Like.find_by( :user_id => current_user.id , :photo_id => @photo.id).id %>">
          <i class="text-primary fa fa-heart"></i>
        </a>
        <% else %>

        <i class="text-primary fa fa-heart-o">
        </i>
        <% end %>

        <% if @photo.likes.length==0 then %>


        Be the first person to like this

        <%  elsif  @photo.likes.length==1 then%>
        <%= @photo.likes.first.user.username %> likes this

        <% else %>
        <%= @photo.likes.pluck(:user_id).to_sentence %> like this
        <% end %>


        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h4 class="text-primary media-heading"><%= @photo.user.username %>

                <small>
                  <%= time_ago_in_words(@photo.updated_at) %> ago
                </small>

              </h4>
              <%= @photo.caption %>
            </div>
          </li>

          <%  @photo.comments.each do |comment| %>

          <li class="media">

            <div class="media-body">
              <h4 class="text-primary media-heading"><%= comment.user.username %>

                <small>
                  <%= time_ago_in_words(comment.updated_at) %> ago
                </small>

              </h4>
              <%= comment.body %>
            </div>
          </li>
          <% end %>
        </ul>

        <form action="/create_comment" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



          <!-- Label and input for photo_id -->

          <div class="form-group">
            <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= @photo.id %>">
          </div>


          <!-- Label and input for body -->
          <div class="form-group">

            <textarea id="body" name="body" placeholder="Add a comment..." class="form-control" rows="3"><%= @comment.body %></textarea>
          </div>

          <!-- Label and input for user_id -->

          <div class="form-group">
            <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
          </div>

          <input class="btn btn-default" type="submit" value="Submit">

        </form>
      </div>
    </div>



    <div class="btn-group btn-group-justified">

      <a href="/photos" class="btn btn-primary">
        <i class="fa fa-chevron-left"></i>
      </a>

      <% if current_user.id==@photo.user_id %>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        <i class="fa fa-trash-o"></i>
      </a>
      <% end %>

    </div>
  </div>
</div>
